<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>TapSearch</title>
</head>

<body background="../static/background.jpg">
  <center>
    <div class="container">
      <h1>TapSearch</h1>
      <h1>Choose a text file and enter a search term</h1>
      <br>
      <form action="/success" method="POST" enctype="multipart/form-data" class="form">
        <input type="file" name="file1" /><br><br>
        Word to search:<input type="text" name="searchterm" /><br><br>
        <input type="submit" name="createindex" /><br>
      </form>
    </div>
  </center>
</body>

</html>